@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

// fonts
$font-nanum: 'Nanum Gothic Coding', monospace;

// font-size
$font-size1: 24px;
$font32:32px;
$font16: 16px;
$font20: 20px;
$font30: 30px;
$font20rem: 20.6rem;
$font75rem:75rem;
$font38rem:38rem;
$font45rem:45rem;
$font40rem:40rem;

// colors
$color-white: white;
$light-dark:rgb(35, 35, 35);
$darkGreen:#3F7B2A;
$orange: rgb(222, 162, 50);
$blue: rgb(81, 81, 204);
$yellow: yellow;
$soft-blue: rgb(74, 158, 236);
$mix-color:rgb(121, 150, 25);
$boldBlue:rgb(11, 134, 174);
$pink:pink;
$strongBlue: rgba(76, 56, 175, 0.6);